@import url("https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@font-face {
  font-family: "Londrina Shadow";
  src: url("../src/LondrinaShadow-Regular.ttf");
}
@-webkit-keyframes listpopup {
  from {
    transform: scale(0.75, 0.75);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes listpopup {
  from {
    transform: scale(0.75, 0.75);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}
* {
  margin: 0px;
  font-family: "Roboto", Helvetica, sans-serif;
}

body {
  font-size: 16px;
  color: #424242;
  background-color: #ececec;
}

footer {
  padding: 15px;
  color: #ececec;
  background-color: #424242;
  text-align: center;
  font-size: 0.6em;
}

h1 {
  font-family: "Londrina Shadow", Tahoma, sans-serif;
  font-size: 2.75em;
  letter-spacing: 2px;
  color: #424242;
  margin-bottom: 0.5em;
}

ul,
ol {
  padding-left: 30px;
}

.alert {
  font-size: 0.8em;
  color: #e42222;
}

.formatting {
  border: 1px #808080 dotted;
  border-radius: 20px;
  width: 200px;
  margin: auto;
  padding: 10px;
}

.list {
  border-radius: 5px;
  width: 70%;
  padding: 10px;
  margin: 1em auto 0 auto;
  color: #424242;
  border: 2px #808080 solid;
  background: url("../img/stripe.png");
  -webkit-animation: listpopup 0.7s normal;
          animation: listpopup 0.7s normal;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.main {
  padding: 1em 0;
  min-height: calc(100vh - 6.85em);
  background: url("../img/shopping-cart.png") bottom right no-repeat;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 50%;
  padding: 30px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.175);
  border-radius: 10px;
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 5;
}

/* input-related styling */
input[type=text],
input[type=number],
select {
  padding: 5px;
  border: 1px #424242 solid;
  background-color: #ececec;
}

input[type=number] {
  width: 50px;
}

/* button-related styling */
button {
  cursor: pointer;
}

.btn {
  border: 1px #424242 solid;
  border-radius: 7px;
  background: none;
  color: #424242;
  padding: 5px 15px;
  margin: 0 5px;
  transition: background-color 0.25s, color 0.2s;
}
.btn:hover {
  color: #ececec;
  background-color: #424242;
}

.lang-btn {
  height: 2.25em;
  width: 2.25em;
  margin-left: 0.25em;
  margin-bottom: 0.5em;
  padding: 0;
  border: 0;
  background: none;
  opacity: 0.5;
  transition: opacity 0.25s;
}
.lang-btn:hover {
  opacity: 1;
}
.lang-btn img {
  border-radius: 1.7px;
}

.li-btn,
.format-btn {
  height: 1.5em;
  width: 1.5em;
  border-width: 2px;
  border-color: #424242;
  border-style: solid;
  border-radius: 7px;
  margin-left: 0.25em;
  background: none;
  color: #424242;
  display: inline-block;
  font-size: 1.25em;
  text-align: center;
  transition: background-color 0.25s, color 0.2s;
}

.li-btn:hover,
.format-btn:hover,
.format-btn-selected {
  color: #ececec;
  background-color: #424242;
}

.remove-item {
  color: #e42222;
  background: none;
  border: 2px #e42222 solid;
}

.remove-item:hover {
  color: #fff;
  background-color: #e42222;
}

#clear-list {
  border-color: #e42222;
  color: #e42222;
}

#clear-list:hover {
  color: #ececec;
  background-color: #e42222;
}

/* other */
.hidden {
  display: none;
}

.txt-align-center {
  text-align: center;
}

.visibility-hidden {
  visibility: hidden;
}/*# sourceMappingURL=style.css.map */